<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Create</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('learn') }}">Learn</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('create') }}">Create</a></li>
      </ul>
    </nav>
  </header>
  <div class="main-container">
    <div class="container">
      <h1>Create Your Own Dataset</h1>
      <p>This is the Create page. Provide information on how to create a dataset here.</p>
    </div>
  </div>
</body>
</html>
