<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Action Detection</title>
  <style>
    /* Add any additional styles here */
    .background {
      height: 100vh; /* Adjust as needed */
      position: relative;
      overflow: hidden;
    }
    .content-container {
      padding: 20px;
    }
    .project-row a {
      text-decoration: none;
      color: inherit;
      display: block;
    }
    .content-container p {
      text-align: left; /* Align the paragraph to the left */
    }
  </style>
</head>
<body>

<div class="background" id="top-section">
  <video autoplay muted loop class="video-background" id="video1">
    <source src="{{ url_for('static', filename='video1.mp4') }}" type="video/mp4">
  </video>
  <video autoplay muted loop class="video-background" id="video2">
    <source src="{{ url_for('static', filename='video2.mp4') }}" type="video/mp4">
  </video>
  <div class="overlay content">
    <h1><span class="ai-text">AI</span>.rtisanship</h1>
    <div class="scroll-down-arrow" onclick="scrollToNextDiv()"></div>
    <p class="bottom-right">Hands on to <span class="crafting-text">Craft</span> the Knowledge of Tomorrow</p> 
  </div>
</div>
<div id="next-div" class="content-container">
  <h2>The teaching of the crafts in the third digital revolution</h2>
  <p>The goal of the project is to globalize and modernize the transmission of ancient craftsmanship knowledge through the use of advanced AI 
    technologies, preserving cultural heritage and providing educational tools for new generations.</p>
  <div class="project-row">
    <a href="{{ url_for('index') }}">
      <div class="project-name">Home</div>
      <div class="project-description"></div>
    </a>
  </div>
  <div class="project-row">
    <a href="{{ url_for('learn') }}">
      <div class="project-name">Learn</div>
      <div class="project-description">It's always a good time to learn a new craft</div>
    </a>
  </div>
  <div class="project-row">
    <a href="{{ url_for('about') }}">
      <div class="project-name">About</div>
      <div class="project-description">Know more about the project</div>
    </a>
  </div>
  <div class="project-row">
    <a href="{{ url_for('create') }}">
      <div class="project-name">Create</div>
      <div class="project-description">Create your own dataset</div>
    </a>
  </div>
</div>

<footer class="footer">
  <div class="footer-content">
      <div class="left">
          <span>Master in Design for Emergent Futures</span>
      </div>
      <div class="center">
          <span>Made by <a href="https://jmuozan.github.io/mdef-website/" target="_blank">jorge munyoz</a></span>
      </div>
      <div class="right">
          <a href="https://www.linkedin.com/in/jorgemunozzanon/" target="_blank"><img src="{{ url_for('static', filename='IMG/Media_Icons/LinkedIn.svg') }}" alt="LinkedIn"></a>
          <a href="https://www.instagram.com/jmunyozz?igsh=cWp2ZjQxdWQ5bTBu&utm_source=qr" target="_blank"><img src="{{ url_for('static', filename='IMG/Media_Icons/Instagram.svg') }}" alt="Instagram"></a>
          <a href="https://x.com/jorgemunyozz?s=21&t=RjlIzhKjwHS9W8QkEsRhjg" target="_blank"><img src="{{ url_for('static', filename='IMG/Media_Icons/Twitter.svg') }}" alt="Twitter"></a>
          <a href="https://github.com/jmuozan" target="_blank"><img src="{{ url_for('static', filename='IMG/Media_Icons/GitHub.svg') }}" alt="GitHub"></a>
      </div>
  </div>     
</footer>
<script>
  function scrollToNextDiv() {
    document.getElementById('next-div').scrollIntoView({ behavior: 'smooth' });
  }

  function scrollToTop() {
    document.getElementById('top-section').scrollIntoView({ behavior: 'smooth' });
  }

  function handleScroll(event) {
    const delta = Math.sign(event.deltaY);
    const scrollPosition = window.scrollY || window.pageYOffset;
    const topSectionHeight = document.getElementById('top-section').offsetHeight;

    if (delta > 0 && scrollPosition < window.innerHeight) {
      scrollToNextDiv();
    } else if (delta < 0 && scrollPosition >= window.innerHeight && scrollPosition <= topSectionHeight) {
      scrollToTop();
    }
  }

  window.addEventListener('wheel', handleScroll);
</script>
</body>
</html>
