<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Action Detection</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('learn') }}">Learn</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('create') }}">Create</a></li>
        </ul>
      </nav>
    </header>
    <div class="background">
      <video autoplay muted loop class="video-background" id="video1">
        <source src="{{ url_for('static', filename='video1.mp4') }}" type="video/mp4">
      </video>
      <video autoplay muted loop class="video-background" id="video2">
        <source src="{{ url_for('static', filename='video2.mp4') }}" type="video/mp4">
      </video>
      <div class="overlay content">
        <h1>BUILT TO LAST</h1>
      </div>
    </div>
  </body>
</html>
