<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Action Detection</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('learn') }}">Learn</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('create') }}">Create</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <h1>Select Model to Learn</h1>
      <form method="POST" action="/learn">
        <label for="model">Choose a model:</label>
        <select id="model" name="model">
          {% for model in model_options %}
          <option value="{{ model }}">{{ model }}</option>
          {% endfor %}
        </select>
        <br>
        <button type="submit">Start Detection</button>
      </form>
    </div>
  </body>
</html>
